* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg #text {
  position: relative;
  font-size: 120px;
  color: #fff;
  opacity: 0.6;
}
.bg .fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.bg .fog img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: fog_effect calc(3s * var(--i)) ease-in infinite;
}
.fog{
    opacity: 0.75;
}
@keyframes fog_effect {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
